@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');


body
{
  height: 5000px;
}


*
{
  margin: 0;
}


.title-sphere
{
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
}

.title
{
  position: fixed;
  top: 50vh;
  left: 1.5rem;
  transform-origin: -1rem center;
  font-family: 'Cutive Mono', monospace;
  transition: opacity 1s, transform 1s;
  visibility: hidden;
}
