@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');





body
{
  width: 100vw;
  height: calc(5600px + 100vh);
}


*
{
  margin: 0;
}


main
{
  height: 100%;
  width: 100%;
  max-width: 1200px;
  position: fixed;
  left: 50vw;
  transform: translateX(-50%);
}


.title-sphere
{
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
}

.title
{
  position: fixed;
  top: 50vh;
  left: 1.5rem;
  transform-origin: -1rem center;
  font-family: 'Cutive Mono', monospace;
  transition: opacity 1s, transform 1s;
  visibility: hidden;
  text-shadow: 0 0 5px white;
  cursor: pointer;
}


.answer-circle-container
{
  width: 70vw;
  height: 140vw;
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
  right: 0;
}

.answer
{
  position: fixed;
  right: 50vw;
  top: 50vh;
  transition: transform 1s;
  transform: translateY(-50%);
  transform-origin: 50vw center;
  color: white;
}

@keyframes answer-change-down
{
  from
  {
    transform: translateY(-50%);
  }
  to
  {
    transform: translateY(-50%) rotate(180deg);
  }

}
