@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body
{
  width: 100vw;
  min-width: 800px;
  height: calc(5600px + 100vh);
}


*
{
  margin: 0;
}


a
{
  color: white;
}


main
{
  height: 100%;
  width: 100%;
  max-width: 1200px;
  position: fixed;
  left: 50vw;
  transform: translateX(-50%);
}


.title-sphere
{
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
}

.title
{
  position: fixed;
  top: 50vh;
  left: 1.5rem;
  transform-origin: -1rem center;
  font-family: 'Cutive Mono', monospace;
  transition: opacity 1s, transform 1s;
  visibility: hidden;
  text-shadow: 0 0 5px white;
  cursor: pointer;
}


.answer-circle-container
{
  width: 70vw;
  height: 140vw;
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
  right: 0;
}

.answer
{
  transform: translateY(-50%);
}

.next-answer
{
  transform: translateY(-50%) rotate(180deg);
  opacity: 0;
}

.last-answer
{
  transform: translateY(-50%) rotate(-180deg);
  opacity: 0;
}

.answer-container
{
  position: fixed;
  left: 40vw;
  top: 50vh;
  width: 40vw;
  min-width: 260px;
  max-width: 600px;
  transform-origin: 50vw center;
  color: white;
}


.question
{
  font-family: "DM Sans", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.answer-text
{
  font-family: "Lato", sans-serif;
}

@keyframes answer-change-down
{
  from
  {
    transform: translateY(-50%) rotate(180deg);
    opacity: 0;
  }
  to
  {
    transform: translateY(-50%);
    opacity: 1;
  }
}

@keyframes last-answer-change-down
{
  from
  {
    transform: translateY(-50%);
    opacity: 1;
  }
  to
  {
    transform: translateY(-50%) rotate(-180deg);
    opacity: 0;
  }
}

@keyframes answer-change-up
{
  from
  {
    transform: translateY(-50%) rotate(-180deg);
    opacity: 0;
  }
  to
  {
    transform: translateY(-50%);
    opacity: 1;
  }
}

@keyframes next-answer-change-up
{
  from
  {
    transform: translateY(-50%);
    opacity: 1;
  }
  to
  {
    transform: translateY(-50%) rotate(180deg);
    opacity: 0;
  }
}
